*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100px;
    min-width: 100%;

}
.container{
    position: relative;
    max-width: 1440px;
    max-height: 662px;
    margin: 0 auto;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    background-image: url(img/8d53b55a4d3f18711f55b04d165dc780525bacb2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -48px;
    background-position-x: 10px -10px ;
}
.container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);   
    z-index: 1;
}
.container > *{
    position: relative;
    z-index: 2;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    max-height: 96.42893981933594px;
    
}

.logo{
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    font-size: 32.8px;
    font-weight: 600;
    line-height: 100%;
    background: #F77E23;
    background-clip: text;
    color: transparent;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 10%;
}
nav ul {
    font-family: "Crimson Text", serif;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2%;
    
}
.search-bar {
    display: flex;
    
    
}
.button{
    padding: 10px 35px;
}
.button1{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 0px 20px;

}
.button2{
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    color: #FF6F28;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;

}
.button3{
    background: #FF6F28;
    color: white;
    border-radius: 5px;
    padding: 20px 42px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    border: none;
}
.button3:hover{
    background: white;
    color: #FF6F28;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    padding: 60px;
    color: white;
}
.content h1{
    font-family: "Crimson Text", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    gap: 10px;
}
.content p{
    font-family: "Crimson Text", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}
.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #F77E23;
    border-radius: 5000px;
    font-size: 25px;
    border: none;
    padding: 10px 12px;
    left: 80%;
}
.information{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.information p{
    font-family: "Crimson Text", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}
.icon{
    max-width: 60px;
    max-height: 60px;
    background-color:#FFE7DB ;
    color: #FF6F28;
    border-radius: 50%;
    padding: 12px;
    
}
.title{
    font-family: "Crimson Text", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}